<br><br>
<section class="jumbotron text-center">
    <div class="container">
      <h1>Daftar Artis</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
          
        <div class="col-md-4" *ngFor="let ar of listArtis" >
          <div class="card mb-4 shadow-sm">
            <img src="/api/image/{{ar.foto}}" alt="" height="300px">
            <div class="card-body">
              <b class="card-text">{{ar.namaArtis}}</b>
              <br>
              <!-- <p>Artist: {{ar.namaArtis}}</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/listalbums/{{ar.idArtis}}" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>