<br><br>
<div class="row">
    <div class="col-md-12">
        <section class="my-5">
            <h3>Daftar Akun</h3>
            
            <div class="row">
                <div class="col-md-12">
                    <table border="1" class="cards table table-sm table hover">
                        <tr>
                            <th>Nama User</th>
                            <th *ngFor="let role of listRole">{{role.namaRole}}</th> 
                        </tr>
                        <tr *ngFor="let user of listAkun">
                            <td>{{user.username}}</td>
                            <td><a href="usermanajemendetail/{{user.id}}">Detail</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>