<br><br>
<section class="jumbotron text-center">
    <div class="container">
      <h1>Daftar Genre</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
          
        <div class="col-md-4" *ngFor="let gen of listGenre" >
          <div class="card mb-4 shadow-sm">
            <img src="assets/genre.png" height="250px" alt="">
            <div class="card-body">
              <b class="card-text">{{gen.namaGenre}}</b>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/listlagu/{{gen.idGenre}}" class="btn btn-sm btn-outline-secondary">View</button>
                  <button (click)="deleteGenre(gen.idGenre)" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>