<body class="text-center">
    <form class="form-signin">
  <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" id="username" #username class="form-control" placeholder="username" >
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="Password" #password class="form-control" placeholder="password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button (click)="onLogin(username, password)" class="btn btn-lg btn-primary btn-block">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>
</body>