<br><br>
<div class="row">
    <div class="col-md-12">
        <section class="my-5">
            <form [formGroup]="addLaguForm" (ngSubmit)="simpanLagu()">
                <div class="form-group">
                    <label for="kode">ID Lagu :</label>
                    <input type="text" class="form-control" id="id" formControlName="idLagu" placeholder="ID">
                    <span *ngIf="!addLaguForm.get('idLagu').valid && addLaguForm.get('idLagu').touched" class="help-block">
                    ID Wajib Diisi
                    </span>
                </div>
                <div class="form-group">
                    <label for="kode">Judul :</label>
                    <input type="text" class="form-control" id="id" formControlName="judul" placeholder="Judul">
                    <span *ngIf="!addLaguForm.get('judul').valid && addLaguForm.get('judul').touched" class="help-block">
                    ID Wajib Diisi
                    </span>
                </div>
                <div class="form-group">
                    <label for="kode">Durasi :</label>
                    <input type="text" class="form-control" id="id" formControlName="durasi" placeholder="Durasi">
                    <span *ngIf="!addLaguForm.get('durasi').valid && addLaguForm.get('durasi').touched" class="help-block">
                    ID Wajib Diisi
                    </span>
                </div>
                <div class="form-group">
                    <label for="nama">Genre:</label>
                    <select class="form-control" formControlName="idGenre">
                        <option *ngFor="let gen of listGenre" value="{{ gen.idGenre }}">{{ gen.namaGenre }}</option>
                    </select>
                    <span *ngIf="!addLaguForm.get('idGenre').valid && addLaguForm.get('idGenre').touched" class="help-block">
                      Nama Wajib Diisi!
                    </span>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Artis:</label>
                    <select class="form-control" formControlName="idArtis">
                        <option *ngFor="let ar of listArtis" value="{{ ar.idArtis }}">{{ ar.namaArtis }}</option>
                    </select>
                    <span *ngIf="!addLaguForm.get('idArtis').valid && addLaguForm.get('idArtis').touched" class="help-block">
                      Nama Wajib Diisi!
                    </span>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Album:</label>
                    <select class="form-control" formControlName="idAlbum">
                        <option *ngFor="let al of listAlbums" value="{{ al.idAlbum }}">{{ al.namaAlbums }}</option>
                    </select>
                    <span *ngIf="!addLaguForm.get('idAlbum').valid && addLaguForm.get('idAlbum').touched" class="help-block">
                      Nama Wajib Diisi!
                    </span>
                </div>
                <div class="form-group">
                    <label for="foto">File Lagu:</label>
                    <input type="file" (change)="selectFile($event)">
                    <span
                        *ngIf="!addLaguForm.get('fileLagu').valid && addLaguForm.get('fileLagu').touched" class="help-block">
                    Foto Wajib Diisi
                    </span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>
</div>