<section class="jumbotron text-center">
    <div class="container">
      <h1>Daftar Album</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          
        <div class="col-md-4" *ngFor="let al of listAlbums" >
          <div class="card mb-4 shadow-sm">
            <img src="/api/imagealbums/{{al.fotoCover}}" alt="" height="300px">
            <div class="card-body">
              <b class="card-text">{{al.namaAlbums}}</b>
              <br>
              <p>Artist: {{al.namaArtis}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/listlagu/{{al.idAlbum}}" class="btn btn-sm btn-outline-secondary">View</button>
                  <button (click)="deleteAlbums(al.idAlbum)" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>